<div class="row">
    <div class="col-sm-6">
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title text-white">Cargar articulo</h5>
                <p class="card-text">Cargar articulo individual mediante el sistema</p>
                <input type="button" class="btn btn-primary" value="Cargar" (click)="carga_articulo_true()">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title text-white">Cargar archivo de articulos</h5>
                <p class="card-text">Seleccione un archivo excel para cargar los archivos al sistema</p>
                <input type="button" class="btn btn-primary" (click)="cargaArchivo_true()" value="Cargar">
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="row">
    <div class="col-md-13">
        <input type="file" id="input-excel" (change)="recibeArchivo($event)">
    </div>
</div> -->

<br>

<!-- CARGAR ARCHIVO DE ARTICULOS -->
<div *ngIf="cargaArchivo" class="container">

    <div class="card ">
        <div class="card-header text-white bg-dark">
            <input type="file" id="input-excel" (change)="recibeArchivo($event) ">
        </div>
        <div *ngIf="cargado " class="card-body ">
            <blockquote class="blockquote mb-0 ">

                <h3>
                    <b><p>Estos son los datos a cargar, por favor revisar antes de continuar</p></b>
                </h3>

                <div class="row ">
                    <div class="col-md ">
                        <div class="table-responsive">

                            <body>
                                <table class="table table-striped" id="tabla">
                                    <thead>
                                        <tr>
                                            <th *ngFor="let key of keys() ">{{ key }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let dato of aux; let i=index ">
                                            <td *ngFor="let key of keys() ">{{ aux[i][key]}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </body>
                        </div>
                    </div>
                </div>
            </blockquote>
        </div>
        <div *ngIf="cargado" class="card-footer text-white bg-dark text-center">
            <button type="button " class="btn btn-primary" (click)="cargarExcel()">Cargar articulos</button>
        </div>
    </div>
</div>

<!-- CARGAR ARTICULO -->

<div *ngIf="cargarArticulo " class="container ">
    <div class="card text-center text-black-50 ">
        <div class="card-header bg-dark mb-3 text-white ">
            <label><b>Carga de Articulo</b></label>
        </div>
        <div class="card-body ">
            <form #nuevoArticulo="ngForm" (ngSubmit)="OnSubmit() ">
                <div class="form-group row justify-content-center ">
                    <label for="InputCodArticulo " class="col-sm-3 col-form-label font-weight-bold ">Código de articulo: </label>
                    <div class="col-sm-5 col-sm-offset-3 ">
                        <input type="text " class="form-control " name="codArticulo " [(ngModel)]="articulo.codArticulo " id="InputCodArticulo ">
                    </div>
                </div>
                <div class="form-group row justify-content-center ">
                    <label for="InputCodProveedor " class="col-sm-3 col-form-label font-weight-bold ">Código de proveedor: </label>
                    <div class="col-sm-5 ">
                        <ng-select style="text-align:center;" [items]="proveedores" name="codProveedor" id="InputCodProveedor" bindLabel="codProveedor" binValue="codProveedor" placeholder="Seleccione un código de proveedor" [(ngModel)]="selectedOpcionCodProv">
                        </ng-select>
                    </div>
                </div>
                <div class="form-group row justify-content-center ">
                    <label for="InputDescripcion " class="col-sm-3 col-form-label font-weight-bold ">Descripción: </label>
                    <div class="col-sm-5 ">
                        <input type="text " class="form-control " name="descripcion " [(ngModel)]="articulo.descripcion " id="InputDescripcion ">
                    </div>
                </div>
                <div class="form-group row justify-content-center ">
                    <label for="InputGanancia " class="col-sm-3 col-form-label font-weight-bold ">Ganancia: </label>
                    <div class="col-sm-5 ">
                        <input type="number " class="form-control " name="ganancia " [(ngModel)]="articulo.ganancia " id="InputGanancia ">
                    </div>
                </div>
                <div class="form-group row justify-content-center ">
                    <label for="InputCosto " class="col-sm-3 col-form-label font-weight-bold ">Costo: </label>
                    <div class="col-sm-5 ">
                        <input type="number " class="form-control " name="costo" [(ngModel)]="articulo.costo " id="InputCosto ">
                    </div>
                </div>
                <div class="form-group row justify-content-center ">
                    <label for="InputFlete " class="col-sm-3 col-form-label font-weight-bold ">Flete: </label>
                    <div class="col-sm-5 ">
                        <input type="text " class="form-control " name="descripcion" [(ngModel)]="articulo.flete " id="InputFlete ">
                    </div>
                </div>
                <div class="form-group row justify-content-center ">
                    <label for="InputStock " class="col-sm-3 col-form-label font-weight-bold">Stock Inicial: </label>
                    <div class="col-sm-5 ">
                        <input type="text " class="form-control " name="stock" [(ngModel)]="articulo.stock " id="InputStock ">
                    </div>
                </div>
                <div class="form-group row justify-content-center ">
                    <label for="finalPrice" class="col-sm-3 col-form-label font-weight-bold">Precio final: </label>
                    <div class="col-sm-5">
                        <input type="number" readonly class="form-control" id="finalPrice" [value]="getFinalPrice(articulo.ganancia, articulo.costo)" name="price ">
                    </div>
                </div>
                <div class="form-group row justify-content-center ">
                    <label for="InputImagen" class="col-sm-3 col-form-label font-weight-bold ">Subir imagen: </label>
                    <div class="col-sm-5 ">
                        <input type="file" name="imagen" id="InputImagen" (change)="cargandoImagen($event.target.files) ">
                    </div>
                </div>
                <div *ngIf="imagen ">
                    <img [src]="preImg ">
                </div>
                <br>
                <button type="submit " class="btn btn-primary ">Cargar Articulo</button>
            </form>
        </div>
    </div>
</div>